//Import all of bootstrap's css
@import "~bootstrap/scss/bootstrap";

:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
}

.content-background{
    background-color: var(--Off-Black);
}
.card{
    background-color: var(--Dark-Grey);
}
.content{
    color: var(--White);
}
.address{
    color: var(--Green);
}
.profile{
    width: 100px;
    height: 100px;
}
.link{
    background-color: var(--Grey);
}
.link:hover{
    background-color: var(--Green);
    color: var(--Off-Black);
}
// @media (min-width: 375px) and (max-width: 1440px) {
//     .container{
//         max-width: 1440px;
//     }
// }